@model  eRAMO.FB.Web.Models.AboutHistoriesModel
@{
    ViewBag.Title = "About";
}

@*<section class="section-info">
        <div class="container">
            <div class="row">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>
                <p>Use this area to provide additional information.</p>
            </div>
        </div>
    </section>*@

<!-- About - Header -->
<!-- ++++++++++++++++++++++++++++++++++++++++ -->
<section class="about-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInUp" data-wow-duration="2s">
                <h1 class="title">
                    About Financial Brains
                </h1>
                <div class="path">Home / About us</div>
            </div>
            <div class="bottom-line"></div>
        </div><!--row-->
    </div><!--container-->
</section>

<!--  About - Services -->
<!-- ++++++++++++++++++++++++++++++++++++++++ -->
<section class="wrap-services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 clearfix col-sm-6 col-xs-12 service-item wow fadeInUp" data-wow-duration="2s">
                <div class="service-icon pull-left">
                    <span class="icon-cloud-download"></span>
                </div>
                <div class="service-text pull-right">
                    <div class="text-title">Founded</div>
                    Financial Brains has been founded in 2011
                </div>
            </div>

            <div class="col-md-4 clearfix col-sm-6 col-xs-12 service-item wow fadeInUp" data-wow-duration="2s">
                <div class="service-icon pull-left">
                    <span class="icon-check"></span>
                </div>
                <div class="service-text pull-right">
                    <div class="text-title">We are #1</div>
                    One of Egypt's leading financial training providers, specialized in the CFA Program.
                </div>
            </div>

            <div class="col-md-4 clearfix col-sm-6 col-xs-12 service-item wow fadeInUp" data-wow-duration="2s">
                <div class="service-icon pull-left">
                    <span class="icon-handbag"></span>
                </div>
                <div class="service-text pull-right">
                    <div class="text-title">Our Products</div>
                    CFA Program, Level 1 preparation courses - Specialized financial training courses.
                </div>
            </div>
            <div class="col-md-4 clearfix col-sm-6 col-xs-12 service-item wow fadeInUp" data-wow-duration="2s">
                <div class="service-icon pull-left">
                    <span class="icon-microphone"></span>
                </div>
                <div class="service-text pull-right">
                    <div class="text-title">Give us a call</div>
                    You can call us on +2 - 01000 11 49 19
                </div>
            </div>

            <div class="col-md-4 clearfix col-sm-6 col-xs-12 service-item wow fadeInUp" data-wow-duration="2s">
                <div class="service-icon pull-left">
                    <span class="icon-bar-chart"></span>
                </div>
                <div class="service-text pull-right">
                    <div class="text-title">Clear Discription</div>
                    We offer financial training courses, Specialized in the Charter Financial Analyst (CFA) Program.
                </div>
            </div>

            <div class="col-md-4 clearfix col-sm-6 col-xs-12 service-item wow fadeInUp" data-wow-duration="2s">
                <div class="service-icon pull-left">
                    <span class="icon-paper-plane"></span>
                </div>
                <div class="service-text pull-right">
                    <div class="text-title">Mission</div>
                    To be the financial training provider of choice in Egypt and the Middle East.
                </div>
            </div>
        </div><!--row-->
    </div><!--container-->
</section>




<div class="scroll-slider-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="team-description wow fadeInUp" data-wow-duration="2s">
                <h3>Who we are</h3>
                <p>@Model.AboutHistories[0].Description</p>

            </div>
        </div>
        <div class="col-md-6">
            <div class="team-description wow fadeInUp" data-wow-duration="2s">
                <h3>What We Do</h3>
                <p>@Model.AboutHistories[1].Description<br /><br /><br /><br /><br /><br /><br /></p>

            </div>
        </div>
    </div><!--row-->
</div><!--container-->
<!-- About -  Timeline -->
<!-- ++++++++++++++++++++++++++++++++++++++++ -->
<section class="wrap-timeline">
    <div class="container">
        <div class="row top-row">
            <div class="col-md-12">
                <div class="time-title" id="timel">
                    Our history <br />
                    <div class="round-ico"></div>
                </div>
            </div>
        </div>
        @for (int i = 2; i < @Model.AboutHistories.Count(); i++)
        {
            if (i % 2 == 0)
            {
                <div class="row left-row">
                    <div class="round-ico little"></div>
                    <div class="col-md-6 col-sm-6 time-item wow fadeInUp" data-wow-duration="2s">
                        <div class="date">
                            @{
                var date = Model.AboutHistories[i].Date;
                            }
                            @if (date != null)
                            {
                                @date.Value.ToString("Y")
                            }
                        </div>
                        <div class="title">@Model.AboutHistories[i].Title</div>
                        <div class="text">@Model.AboutHistories[i].Description</div>
                    </div>
                </div>
            }
            else
            {
                <div class="row right-row">
                    <div class="round-ico big"></div>
                    <div class="col-md-6 col-sm-6"></div>
                    <div class="col-md-6 col-sm-6 time-item wow fadeInUp" data-wow-duration="2s">
                        <div class="date">
                            @{
                var dateTime = Model.AboutHistories[i].Date;
                            }
                            @if (dateTime != null)
                            {
                                @dateTime.Value.ToString("Y")
                            }
                        </div>
                        <div class="title">@Model.AboutHistories[i].Title</div>
                        @if (!string.IsNullOrEmpty(Model.AboutHistories[i].Image))
                        {
                            <div class="time-image">
                                <img src="../../Photos/@Model.AboutHistories[i].Image" alt="" />
                            </div>
                        }

                        <div class="text">@Model.AboutHistories[i].Description</div>
                    </div>
                </div>
            }
        }
        <div class="plus">
            <a href="#" class="plus-ico">+</a>
        </div>
    </div>
</section>
<!-- End Timeline -->
