@using eRAMO.FB.Model
@model eRAMO.FB.Web.Models.Home.TestimonialModel
@{
    <section class="testimonials" id="testimonials">
        <a class="striped-icon divider scroll" href="#testimonials">
            <i class="fa fa-chevron-down"></i>
        </a>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <header class="section-header wow fadeInUp" data-wow-duration="2s">
                        <p class="subhead">about reviews</p>
                        <h2>What Clients Say?</h2>
                        <p class="large">Some of our clients reviews about Financial Brains, and why they choose us</p>
                    </header>
                </div>
            </div><!--row-->

            <div id="testimonials-carousel">
                @for (int index = 0; index < Model.ClientReviews.Count; index += 2)
                {
                    <div class="reviews">
                        <div class="client left">
                            <p class="large comment">@Model.ClientReviews[index].Review</p>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#fakelink">
                                        <img class="avatar media-object " src="../../../Photos/@Model.ClientReviews[index].ClientPhoto" alt="avatar" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">@Model.ClientReviews[index].ClientName</h5>
                                    <p>@Model.ClientReviews[index].ClientTitle</p>
                                </div>
                            </div>
                        </div>

                        <div class="client right">
                            <p class="large comment">@Model.ClientReviews[index + 1].Review</p>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#fakelink">
                                        <img class="avatar media-object " src="../../../Photos/@Model.ClientReviews[index+1].ClientPhoto" alt="avatar" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">@Model.ClientReviews[index + 1].ClientName</h5>
                                    <p>@Model.ClientReviews[index + 1].ClientTitle</p>
                                </div>
                            </div>
                        </div>
                    </div><!--reviews-->
                }
            </div><!--carousel-->

            <div class="brands">
                <div class="row no-gutter">
                    <div class="col-xs-6 col-sm-3  wow fadeInUp" data-wow-duration="2s">
                        <div class="brand-logo">
                            <a class="brand-logo-wrap" href="#fakelink">
                                <img src="/assets/images/placehold/130x80.gif" alt="brand" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3  wow fadeInUp" data-wow-duration="2s">
                        <div class="brand-logo">
                            <a class="brand-logo-wrap" href="#fakelink">
                                <img src="/assets/images/placehold/130x80.gif" alt="brand" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3  wow fadeInUp" data-wow-duration="2s">
                        <div class="brand-logo">
                            <a class="brand-logo-wrap" href="#fakelink">
                                <img src="/assets/images/placehold/130x80.gif" alt="brand" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3  wow fadeInUp" data-wow-duration="2s">
                        <div class="brand-logo">
                            <a class="brand-logo-wrap" href="#fakelink">
                                <img src="/assets/images/placehold/130x80.gif" alt="brand" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3  wow fadeInUp" data-wow-duration="2s">
                        <div class="brand-logo">
                            <a class="brand-logo-wrap" href="#fakelink">
                                <img src="/assets/images/placehold/130x80.gif" alt="brand" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3  wow fadeInUp" data-wow-duration="2s">
                        <div class="brand-logo">
                            <a class="brand-logo-wrap" href="#fakelink">
                                <img src="/assets/images/placehold/130x80.gif" alt="brand" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3  wow fadeInUp" data-wow-duration="2s">
                        <div class="brand-logo">
                            <a class="brand-logo-wrap" href="#fakelink">
                                <img src="/assets/images/placehold/130x80.gif" alt="brand" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3  wow fadeInUp" data-wow-duration="2s">
                        <div class="brand-logo">
                            <a class="brand-logo-wrap" href="#fakelink">
                                <img src="/assets/images/placehold/130x80.gif" alt="brand" />
                            </a>
                        </div>
                    </div>
                </div><!--row-->
            </div><!--brands-->
        </div><!--container-->,
    </section>
}